:root {
	--slate-100: #fcf1fc;
	--slate-200: #fff4fc;
	--slate-300: #ebebf0;
	--slate-400: #7481a7;
	--slate-500: #46506f;
	--slate-600: #373f57;
	--slate-700: #2b3143;
	--slate-800: #202532;
	--slate-900: #181c25;
	--slate-1000: #181c2580;

	--blue-100: #91cffe;
	--blue-200: #6dbffe;
	--blue-300: #4cb1fe;
	--blue-400: #2ea4fe;
	--blue-500: #1398ff;
	--blue-600: #018bf5;
	--blue-700: #017ddc;
	--blue-800: #0170c6;
	--blue-900: #1398ff80;

	--purple-100: #e8d6ff;
	--purple-200: #d4b3ff;
	--purple-300: #c293ff;
	--purple-400: #b175ff;
	--purple-500: #a259ff;
	--purple-600: #933dff;
	--purple-700: #8524ff;
	--purple-800: #780dff;
	--purple-900: #a259ff80;

	--red-100: #ffc7d2;
	--red-200: #ff9eb1;
	--red-300: #ff7893;
	--red-400: #ff5678;
	--red-500: #ff375f;
	--red-600: #ff1846;
	--red-700: #fb0032;
	--red-800: #e2002d;
	--red-900: #ff375f80;

	--green-100: #91e7a7;
	--green-200: #75e190;
	--green-300: #5cdb7c;
	--green-400: #45d669;
	--green-500: #30d158;
	--green-600: #2abd4f;
	--green-700: #26aa47;
	--green-800: #229940;
	--green-900: #30d15880;

	--heading-font: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--main-font: 'Comic Neue', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	/* @media (prefers-color-scheme: dark) {
		--first-bg: var(--slate-900);
		--second-bg: var(--slate-800);
		--third-bg: var(--slate-700);
		--title-color: var(--slate-200);
		--text-color: var(--slate-300);
		--border-color: var(--slate-600);
		--link-color: var(--primary-500);
		--slatebg-rgba: var(--slate-rgba);
	}

	@media (prefers-color-scheme: light) {
		--first-bg: var(--slate-100);
		--second-bg: var(--slate-200);
		--third-bg: var(--slate-300);
		--title-color: var(--slate-700);
		--text-color: var(--slate-600);
		--border-color: var(--slate-300);
		--link-color: var(--primary-500);
		--lightbg-rgba: var(--light-rgba);
	} */
}

@font-face {
	font-family: 'Poppins';
	font-weight: 600;
	src: local('Poppins'),
		url('/assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
		url('/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Comic Neue';
	font-weight: normal;
	src: local('Comic Neue'),
		url('/assets/fonts/ComicNeue-Regular.woff2') format('woff2'),
		url('/assets/fonts/ComicNeue-Regular.ttf') format('truetype');
	font-display: swap;
}
*,
html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Scroll */
:root {
	--scroll-size: 8px;
	--track-bg: var(--slate-1000);
	--thumb-bg: var(--blue-600);
	--thumb-hover: var(--blue-800);
	--scroll-radius: 0.4rem;
	--time-bg: 0.8s;
}
* {
	scrollbar-width: thin;
}

*::-webkit-scrollbar {
	-webkit-appearance: none;
}

*::-webkit-scrollbar {
	width: var(--scroll-size);
	height: var(--scroll-size);
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-corner {
	background-color: var(--track-bg);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--thumb-bg);
	border-radius: var(--scroll-radius);
	transition: background-color var(--time-bg);
}

*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:active {
	background-color: var(--thumb-hover);
}

*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
	display: none;
}

html {
	transition: background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: var(--slate-100);
	color: var(--slate-700);
}

body {
	font-family: var(--main-font);
	font-weight: normal;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.semibold {
	font-family: var(--main-font);
	font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
.bold {
	font-family: var(--heading-font);
	font-weight: 600;
}

.dark {
	background-color: var(--slate-900);
	color: var(--slate-200);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.clAlive {
	background-image: radial-gradient(
		circle at left,
		var(--green-800),
		transparent
	);
}

.clDead {
	background-image: radial-gradient(
		circle at left,
		var(--red-800),
		transparent
	);
}

.clUnknown {
	background-image: radial-gradient(
		circle at left,
		var(--slate-500),
		transparent
	);
}

.active {
	color: var(--blue-500);
	font-weight: bold;
}
